name: Build LaTeX document
on: [push, pull_request]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        texlive: [latest, 2025.1, base]
        # 多版本 TexLive 兼容性测试
        # 版本号选自：https://hub.docker.com/r/texlive/texlive/tags
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Tree All project
        run: sudo apt install tree;tree

      - name: Build pdf
        run: |
          docker run --rm -v "$(pwd)":/docs ghcr.io/ayaka-notes/texlive-full/texlive:${{ matrix.texlive }} /bin/bash -c "pdflatex CV-short.tex; pdflatex resume.tex;"

      - name: Publish PDF as actions assets
        uses: actions/upload-artifact@v4
        with:
          name: Example-PDFs-texlive-${{ matrix.texlive }}
          path: |
            CV.pdf
            resume.pdf
